
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

body {
    padding-top: 36px;
    background: #eee;
    font-family: 'Manrope', sans-serif;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.wrap {
    display: grid;
    grid-template-areas: 'sidebar ... content content';
    margin: auto;
    width: 800px;
}

.link {
    text-decoration: none;
    color: #695646;
}