.header1 {
    color: #695646;
    text-align: center;
}

.repoList {
    margin: auto;
}

.listItem {
    color: #695646;
}

.header2 {
    color: #695646;
    padding-left: 45px;
}

.avatar {
    height: 110px;
    width: 110px;
    border-radius: 10px;
    border: 1px solid #ffd32d;
}

.image{
   height: 120px;
}

.info {
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.name, .bio {
    display: block;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: #695646;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
   
}

.repoLink {
    padding: 10px;
    border: 1px solid  #695646;
    border-radius: 10px;
    margin: 10px 10px 10px 0;
}

.repoLink:hover {
    background-color:  #fff9f9;
    transform: translate(.5px,1px);
    cursor: pointer;
}

.link:hover {
    color: blue;
}

.contactsButton {
    background-color: #ffd32d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    text-decoration:none;
    display:block;
    font-size: 14px;
    line-height: 20px;
    margin: 20px auto;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    position: relative;
    font-weight: 600;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
    
.contactsButton:before {
      pointer-events: none;
      position: absolute;
      z-index: -1;
      content: '';
      top: 100%;
      left: 5%;
      height: 10px;
      width: 90%;
      opacity: 0;
      background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: -webkit-transform, opacity;
      transition-property: transform, opacity;
    }
    
    .contactsButton:hover {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
    .contactsButton:hover:before {
      opacity: 1;
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px);
    }
.aboutRepoLanguage_html, .aboutRepoLanguage_css, .aboutRepoLanguage_js, .aboutRepoLanguage_null {
    display: flex;
    align-items: center;
    min-width: 82px;
}

.aboutRepoLanguage_html:before, .aboutRepoLanguage_css:before, .aboutRepoLanguage_js:before, .aboutRepoLanguage_null:before {
    content: "";
    margin-right: 6px;
    bottom: 5px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.aboutRepoLanguage_html:before {
    background: #e34c26;
}

.aboutRepoLanguage_css:before {
    background: #563d7c;
}

.aboutRepoLanguage_js:before {
    background: #f1e05a ;
}

.aboutRepoLanguage_null:before {
    background: #5f5b5a; ;
}

.aboutRepo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutRepoStar {
    display: flex;
    align-items: center;
}

.aboutRepoStar:before {
    background: url('../../img/Star.svg');
    content: "";
    margin-right: 6px;
    bottom: 5px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

.aboutRepoFork {
    display: flex;
    align-items: center;
}

.aboutRepoFork:before {
    background: url('../../img/fork.svg');
    content: "";
    margin-right: 6px;
    bottom: 5px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}


