.aboutRepo {
    padding: 10px;
    border: 1px solid  #695646;
    border-radius: 10px;
    margin: 10px;
    list-style-type: none;
}

.aboutRepo:hover {
    background-color:  #fff9f9;
    transform: translate(.5px,1px);
    cursor: pointer;
}

.aboutRepoDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header2 {
    color: #695646;
    padding-left: 45px;
}

.link:hover {
    color: blue;
}


.link {
    text-decoration: none;
    color: #695646;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
   
}

.repoDesc {
    display: flex;
    justify-content: space-between;
}

.repoDescription {
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    text-align: right;
}

.aboutRepoLanguage_html, .aboutRepoLanguage_css, .aboutRepoLanguage_js, .aboutRepoLanguage_null, .aboutRepoLanguage {
    display: flex;
    align-items: center;
    min-width: 96px;
}

.aboutRepoLanguage_html:before, .aboutRepoLanguage_css:before, .aboutRepoLanguage_js:before, .aboutRepoLanguage_null:before {
    content: "";
    margin-right: 6px;
    bottom: 5px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.aboutRepoLanguage_html:before {
    background: #e34c26;
}

.aboutRepoLanguage_css:before {
    background: #563d7c;
}

.aboutRepoLanguage_js:before {
    background: #f1e05a ;
}

.aboutRepoLanguage_null:before {
    background: #5f5b5a; ;
}


.aboutRepoStar {
    display: flex;
    align-items: center;
}

.aboutRepoStar:before {
    background: url('../../img/Star.svg');
    content: "";
    margin-right: 6px;
    bottom: 5px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

.aboutRepoFork {
    display: flex;
    align-items: center;
}

.aboutRepoFork:before {
    background: url('../../img/fork.svg');
    content: "";
    margin-right: 6px;
    bottom: 5px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}


.errorBlock {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    height: 300px;
    flex-wrap: wrap; 
}

.errorUserText {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 8px;
  }

.errorUserTry {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #999999;
}

.repozitories {
    min-height: 300px;
}

.pagination {
    margin: 25px auto;
    display: flex;
    justify-content: center;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a {
    background-color: #ffd32d ;
    border-color: #ffd32d ;
    color: #000000;
  }
  .pagination > li > a {
    border: 1px solid #ffd32d ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #ffd32d;
    border-color: #ffd32d;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #ffd32d
  }

  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }

  .reload {
      color: #0000ff;
      text-decoration: underline;
      cursor: pointer;
  }

  .whsLogo {
    height: 27px;
    width: 103px;
    padding: 5px 10px;
    
    float: right;
}